@charset "UTF-08";

/*limpa todos os tamanhos padrões*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --cor1: #000000;
}

body {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#msgAlerta {
  background-color: rgba(255, 255, 0, 0.293);
  font-size: 0.7em;
  text-align: center;
  display: none;
}

section#Login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 240px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.649);
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
  transition-timing-function: ease;
}
section#Login > div#imagem {
  display: block;
  background: blue url(Imagens/imagemLogin5.jpg) no-repeat;
  background-size: cover;
  background-position: left top;
  height: 200px;
}
section#Login > div#divFormulario {
  display: block;
  padding: 10px;
}
#HomePage,
#NewTask {
  position: relative;
  height: 90vh;
  width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(74, 96, 53, 0.649);
}

div#divFormulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#divFormulario > p {
  font-size: 0.8em;
  margin-bottom: 5px;
}

input#btnLogin[type="submit"] {
  display: block;
  font-size: 1em;
  font-weight: bolder;
  width: 100%;
  height: 40px;
  background-color: rgb(220, 217, 217);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input#btnLogin[type="submit"]:hover {
  background-color: rgb(142, 140, 140);
}

label.txtLogin {
  background-color: rgb(220, 217, 217);
  display: block;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin: 5px 0px;
  font-size: smaller;
}
div#side-bar {
  position: absolute;
  background: rgb(60, 60, 60) url(Imagens/imagemLoginPB2.jpg) no-repeat;
  background-size: cover;
  display: block;
  height: 90vh;
  width: 20%;
  min-width: 20%;
  border-radius: 20px 0px 0px 20px;
}
div#side-bar > a {
  position: absolute;
  top: 90%;
  left: 25%;
  font-size: 70%;
  font-weight: bolder;
  background-color: #a0ba7a;
  color: black;
  padding: 10px;
  border-radius: 15px;
}
div#side-bar > h3 {
  position: absolute;
  font-size: 80%;
  background-color: #a0ba7a;
  border-color: #7c8169;
  top: 10%;
  left: 15%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.437);
}
div#listaTarefas {
  display: block;
  position: relative;
  left: 20%;
  width: 80%;
  height: 50%;
  background-color: rgba(203, 203, 203, 0.6);
  border-radius: 0px 20px 0px 0px;
}
div#novaTarefa {
  display: block;
  position: absolute;
  left: 20%;
  width: 80%;

  height: 100%;
  background-color: rgba(203, 203, 203, 0.6);
  border-radius: 0px 20px 20px 0px;
}
#div_ListaTarefas {
  padding: 20px;
  margin-left: 10px;
  height: 70%;
  overflow: auto;
}

div#detalhe {
  display: block;
  position: relative;
  width: 80%;
  height: 50%;
  left: 20%;
  background-color: rgba(203, 203, 203, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.514);
  border-radius: 0px 0px 20px 0px;
}
div#tarefas-header,
div#detalhe-header {
  padding: 15px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: double;
  border-color: black;
}

input#btnNovaTarefa,
input#btnPgInic,
input#btnAddTask {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 0.75em;
  background-color: #a0ba7a;
  color: black;
  padding: 10px;
  border-radius: 15px;
}

.riscado {
  text-decoration: line-through;
}

input#btnAddTask {
  top: 75%;
}

input#btnPgInic {
  left: 10%;
  width: 120px;
  height: 37px;
  text-align: center;
  font-weight: bolder;
}

input#btnNovaTarefa {
  left: 10%;
  width: 150px;
  height: 37px;
  text-align: center;
  font-weight: bolder;
}

#idnewTask {
  display: block;
  line-height: 30px;
  width: 50%;
  padding: 30px;
}

#mensagemErro {
  text-align: center;
  background-color: rgba(255, 255, 0, 0.293);
  margin-top: 10px;
  font-size: 1em;
  padding: 0px 3x;
  display: none;
}

#idnewDesc {
  display: block;
  line-height: 40px;
  padding: 30px;
}

.lista-tarefa-item {
  background-color: #ced8c0;
  margin-top: 4px;
  padding-left: 10px;
  height: 30px;
  /*vertical-align: middle; */
  display: flex;
  align-items: center;
}

.lista-tarefa-item button  {
  background-color: #ced8c0;
}
.lista-tarefa-item.removida  {
  background-color: rgba(241, 10, 10, 0.57);
  font-weight: bold;
}
.lista-tarefa-item.removida button  {
  background-color: transparent;
}


#div_DetalheTarefas{
  padding-left: 20px;
  padding-top: 20px;
}

#div_DetalheTarefas p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#div_DetalheTarefas button {
  border: 4px;
  margin: 10px 5px 10px 5px;
  padding: 7px 10px 7px 10px;
  /*background-color: #A0BA7B;*/
  font-weight: bold;
  
  background-color: #a0b3e8;
  border-radius: 2em;
}


.estado-flag {
  margin-top: 20px;
  color: #111;
  display: inline-block;
  padding: 2px 6px;
}

.estado-flag-por-concluir {
  background: #7fda69;
}

.estado-flag-concluida {
  background: #c45500;
}

.sitacao {
  font-style: italic;
}

.form-item {
  margin: 10px;
}

.form-item label {
  font-size: smaller;
  vertical-align: top;
}